body{
    background-color: #ccc;;
}

#title, .subtitle, .post-title{
    color: blue;
}

.post-title{
    font-size: 16px;
    font-style: italic;
}

.post{
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}